body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fcf1c7;
}

.error {
    color: #FF3D00;
    margin: 10px;
    text-align: center;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(109, 30, 30);
}

.lod {
    position: relative;
    .loader {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
        height: 100px;
        display: none; // Ensure loader is hidden initially
    }

    .loader:before, .loader:after {
        content: '';
        border-radius: 50%;
        position: absolute;
        inset: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
    }

    .loader:after {
        box-shadow: 0 2px 0 #FF3D00 inset;
        animation: rotate 2s linear infinite;
    }

    @keyframes rotate {
        0% { transform: rotate(0); }
        100% { transform: rotate(360deg); }
    }
}

.none {
    display: none !important;
}

#results {
    background-color: #aba17a;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    p {
        margin-bottom: 10px;
    }
}
