form {
    margin: 5% auto 10px; 
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px 10%;
    color: white;
    background-color:#a65c58;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    background-color: #ffa59b;
}

button {
    padding: 10px 20px;
    background-color:	#b52b24;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
